# editorconfig.org

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true


[*.{coffee, css, html, javascript, js, ls, less, sass, scss, styl}]
indent_style = space
indent_size = 2

[*.{markdown, md}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false

[*.php]
indent_style = space
indent_size = 4

[*.{py, rst}]
indent_style = space
indent_size = 4

[.travis.yml]
indent_style = space
indent_size = 2

[Gemfile*]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab

[package.json]
indent_style = space
indent_size = 2

[Rakefile]
indent_style = space
indent_size = 2